div {
    border: 2px solid red;
}

body {
    color: white;
    margin: 0px;
    background-color: #302f30;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    position: fixed;
    background-color: black;
    min-width: 100%;
    justify-content: center;
    gap: 10%;
}

h1 {
    display: inline;
    font-family: Calibri;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.mainBody {
    padding-top: 20%;
}

.mainText {
    display: block;
    min-height: fit-content;
    line-height: 15px;
    padding-top: 10px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portrait {
    align-items: center;
    width: auto;
    padding-right: 20px;
    border-radius: 50%;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.name {
    color: blueviolet;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #575353;
    border-radius: 24px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
} 

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
}